body {
  color: #222222;
}
a {
  color: #6fb586;
}
a:hover,
a:focus {
  color: #498e60;
}
.text-primary {
  color: #6fb586;
}
.smt-color-primary {
  color: #6fb586;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #498e60;
}
.bg-primary {
  background-color: #6fb586;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #498e60;
}
.btn-primary {
  background-color: #6fb586;
  border-color: #5eac78;
}
.btn-primary:focus,
.btn-primary.focus {
  background-color: #529f6b;
  border-color: #2f5c3e;
}
.btn-primary:hover {
  background-color: #529f6b;
  border-color: #46885b;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-color: #529f6b;
  border-color: #46885b;
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  background-color: #46885b;
  border-color: #2f5c3e;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #6fb586;
  border-color: #5eac78;
}
.btn-primary .badge {
  color: #6fb586;
}
.btn-link {
  color: #6fb586;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #6fb586;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #6fb586;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #6fb586;
}
.pagination > li > span {
  color: #6fb586;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #498e60;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #6fb586;
  border-color: #6fb586;
}
.label-primary {
  background-color: #6fb586;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #498e60;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #6fb586;
  background-color: #fff;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #6fb586;
}
.progress-bar {
  background-color: #6fb586;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #6fb586;
  border-color: #6fb586;
}
.panel-primary {
  border-color: #6fb586;
}
.panel-primary > .panel-heading {
  background-color: #6fb586;
  border-color: #6fb586;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #6fb586;
}
.panel-primary > .panel-heading .badge {
  color: #6fb586;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #6fb586;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #6fb586 0%, #4e9867 100%);
  background-image: -o-linear-gradient(top, #6fb586 0%, #4e9867 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6fb586), to(#4e9867));
  background-image: linear-gradient(to bottom, #6fb586 0%, #4e9867 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb586', endColorstr='#ff4e9867', GradientType=0);
  border-color: #4b9262;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #4e9867;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #4e9867;
  border-color: #4b9262;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #4e9867;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #6fb586 0%, #5eac78 100%);
  background-image: -o-linear-gradient(top, #6fb586 0%, #5eac78 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6fb586), to(#5eac78));
  background-image: linear-gradient(to bottom, #6fb586 0%, #5eac78 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb586', endColorstr='#ff5eac78', GradientType=0);
  background-color: #5eac78;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-image: -webkit-linear-gradient(top, #6fb586 0%, #5eac78 100%);
    background-image: -o-linear-gradient(top, #6fb586 0%, #5eac78 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6fb586), to(#5eac78));
    background-image: linear-gradient(to bottom, #6fb586 0%, #5eac78 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb586', endColorstr='#ff5eac78', GradientType=0);
  }
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #6fb586 0%, #529f6b 100%);
  background-image: -o-linear-gradient(top, #6fb586 0%, #529f6b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6fb586), to(#529f6b));
  background-image: linear-gradient(to bottom, #6fb586 0%, #529f6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb586', endColorstr='#ff529f6b', GradientType=0);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #529f6b;
  background-image: -webkit-linear-gradient(top, #6fb586 0%, #56a871 100%);
  background-image: -o-linear-gradient(top, #6fb586 0%, #56a871 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6fb586), to(#56a871));
  background-image: linear-gradient(to bottom, #6fb586 0%, #56a871 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb586', endColorstr='#ff56a871', GradientType=0);
  border-color: #56a871;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #6fb586 0%, #5eac78 100%);
  background-image: -o-linear-gradient(top, #6fb586 0%, #5eac78 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6fb586), to(#5eac78));
  background-image: linear-gradient(to bottom, #6fb586 0%, #5eac78 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb586', endColorstr='#ff5eac78', GradientType=0);
}
.smt-list_menu a:hover {
  background-color: #6fb586;
}
.smt-menu-left a.current {
  background-color: #6fb586;
}
.smt-menu-main ul {
  border-top-color: #6fb586;
}
.smt-logo-footer__text:before {
  border-bottom: 2px solid #6fb586;
}
.smt-logo-footer__text b,
.smt-logo-footer__text strong {
  color: #6fb586;
}
.smt-btn {
  background-color: #6fb586;
  color: #000000;
}
.smt-btn:focus,
.smt-btn.focus {
  background-color: #5eac78;
}
.smt-btn:hover {
  background-color: #5eac78;
}
.smt-btn:active,
.smt-btn.active,
.open > .smt-btn.dropdown-toggle {
  background-color: #5eac78;
}
.smt-btn:active:hover,
.smt-btn:active:focus,
.smt-btn:active.focus,
.smt-btn.active:hover,
.smt-btn.active:focus,
.smt-btn.active.focus,
.open > .smt-btn.dropdown-toggle:hover,
.open > .smt-btn.dropdown-toggle:focus,
.open > .smt-btn.dropdown-toggle.focus {
  background-color: #5eac78;
}
.smt-btn.disabled:hover,
.smt-btn.disabled:focus,
.smt-btn.disabled.focus,
.smt-btn[disabled]:hover,
.smt-btn[disabled]:focus,
.smt-btn[disabled].focus,
fieldset[disabled] .smt-btn:hover,
fieldset[disabled] .smt-btn:focus,
fieldset[disabled] .smt-btn.focus {
  background-color: #6fb586;
}
.smt-btn .badge {
  color: #6fb586;
}
.smt-btn-border {
  color: #6fb586;
  border-color: #6fb586;
}
.smt-btn-border:focus,
.smt-btn-border.focus {
  background-color: #6fb586;
}
.smt-btn-border:hover {
  background-color: #6fb586;
}
.smt-btn-border:active,
.smt-btn-border.active,
.open > .smt-btn-border.dropdown-toggle {
  background-color: #6fb586;
}
.smt-btn-border:active:hover,
.smt-btn-border:active:focus,
.smt-btn-border:active.focus,
.smt-btn-border.active:hover,
.smt-btn-border.active:focus,
.smt-btn-border.active.focus,
.open > .smt-btn-border.dropdown-toggle:hover,
.open > .smt-btn-border.dropdown-toggle:focus,
.open > .smt-btn-border.dropdown-toggle.focus {
  background-color: #6fb586;
}
.smt-btn-border.disabled:hover,
.smt-btn-border.disabled:focus,
.smt-btn-border.disabled.focus,
.smt-btn-border[disabled]:hover,
.smt-btn-border[disabled]:focus,
.smt-btn-border[disabled].focus,
fieldset[disabled] .smt-btn-border:hover,
fieldset[disabled] .smt-btn-border:focus,
fieldset[disabled] .smt-btn-border.focus {
  background-color: #6fb586;
}
.smt-btn-border .badge {
  background-color: #6fb586;
}
.smt-form_bordered:hover {
  border-color: #6fb586;
}
.smt-widget-benefit__item:first-child .smt-benefit-item {
  background-color: #88c29b;
}
.smt-widget-benefit__item:last-child .smt-benefit-item {
  background-color: #56a871;
}
.smt-benefit-item {
  background-color: #6fb586;
}
.smt-benefit-item__icon {
  color: #99cba9;
}
.smt-slide__header strong,
.smt-slide__header b {
  color: #6fb586;
}
.owl-theme_slider .owl-nav [class*='owl-'] {
  background: #6fb586;
}
.owl-theme_slider .owl-dots .owl-dot span {
  border-color: #6fb586;
}
.owl-theme_slider .owl-dots .owl-dot.active span,
.owl-theme_slider .owl-dots .owl-dot:hover span {
  background-color: #6fb586;
}
.owl-theme_smt .owl-nav [class*='owl-'] {
  background: #6fb586;
}
.owl-theme_smt .owl-nav [class*='owl-']:hover {
  background: #6fb586;
}
.owl-theme_smt .owl-dots .owl-dot.active span,
.owl-theme_smt .owl-dots .owl-dot:hover span {
  background-color: #6fb586;
}
.owl-theme_smt-outside .owl-nav [class*='owl-'] {
  color: #6fb586;
}
.owl-theme_smt-outside .owl-nav [class*='owl-']:hover {
  background: #6fb586;
}
.owl-theme_smt-outside .owl-dots .owl-dot.active span,
.owl-theme_smt-outside .owl-dots .owl-dot:hover span {
  background-color: #6fb586;
}
.smt-divider_primary {
  border-color: #6fb586;
}
.smt-go-up-arrow {
  background-color: #6fb586;
}
.smt-go-up-arrow:hover {
  background-color: #5eac78;
}
.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #6fb586;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #6fb586;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #6fb586;
}
.smt-nav-tabs_colored > li.active > a,
.smt-nav-tabs_colored > li.active > a:hover,
.smt-nav-tabs_colored > li.active > a:focus {
  background-color: #6fb586;
}
.smt-tab-content_vertical > li.active > a,
.smt-tab-content_vertical > li.active > a:hover,
.smt-tab-content_vertical > li.active > a:focus {
  background-color: #6fb586;
}
.smt-nav-pills_services > li.active > a,
.smt-nav-pills_services > li.active > a:hover,
.smt-nav-pills_services > li.active > a:focus {
  background-color: #6fb586;
}
.smt-service-item__icon {
  color: #6fb586;
}
.smt-img-thumbnail,
.smt-img-thumbnail-left,
.smt-img-thumbnail-right {
  border-color: #6fb586;
}
.smt-form_bordered:hover {
  border-color: #6fb586;
}
.smt-header-underline-center:before {
  border-color: #6fb586;
}
.smt-header-underline-left:before {
  border-color: #6fb586;
}
.smt-pagination > li {
  display: inline;
}
.smt-pagination > li > a,
.smt-pagination > li > span {
  color: #6fb586;
}
.smt-pagination > .active > a,
.smt-pagination > .active > span,
.smt-pagination > .active > a:hover,
.smt-pagination > .active > span:hover,
.smt-pagination > .active > a:focus,
.smt-pagination > .active > span:focus {
  background-color: #6fb586;
  border-color: #6fb586;
}
.smt-pagination > li > a:hover,
.smt-pagination > li > span:hover,
.smt-pagination > li > a:focus,
.smt-pagination > li > span:focus {
  color: #6fb586;
}
.smt-breadcrumb > li:after {
  color: #6fb586;
}
button.mfp-arrow-left:before:hover {
  color: #6fb586;
}
button.mfp-arrow-right:before:hover {
  color: #6fb586;
}
.smt-page-header__header .smt-header-underline-center:before {
  border-color: #6fb586;
}
.smt-list__icon {
  color: #6fb586;
}
.smt-list__link_active {
  color: #386d49;
}
.smt-list_arrow li:before {
  border-left-color: #6fb586;
}
.smt-contact__phone .fa {
  color: #6fb586;
}
.smt-contact-item:hover {
  border-color: #6fb586;
}
.smt-panel-group .panel-title > a:after {
  color: #6fb586;
}
.smt-panel-group__icon {
  color: #6fb586;
}
.smt-panel-group_colored .smt-panel-primary_in .panel-heading {
  background: #6fb586;
}
.smt-panel-group_services .panel-title > a:before {
  color: #6fb586;
}
.smt-alert_success:after {
  color: #6fb586;
}
.smt-alert_info {
  background-color: #fff;
  border-color: #6fb586;
  color: #6fb586;
}
.smt-alert_info hr {
  border-top-color: #5eac78;
}
.smt-alert_info .alert-link {
  color: #529f6b;
}
.smt-alert_info:after {
  color: #6fb586;
}
.smt-alert_warning:after {
  color: #6fb586;
}
.smt-chart-pie__value {
  color: #6fb586;
}
.smt-cart-item_arrow:before {
  border-left-color: #6fb586;
}
.smt-cart-item_bordered-full:hover {
  border-color: #6fb586;
}
.smt-call-action-button__icon {
  background: #6fb586;
}
.smt-banner__content {
  border-color: #6fb586;
}
.smt-banner__link strong,
.smt-banner__link b {
  color: #6fb586;
}
.smt-blog-item__link:before {
  border-bottom-color: #6fb586;
}
.smt-gallery-item__link:before {
  border-bottom-color: #6fb586;
}
.smt-counter__value {
  color: #6fb586;
}
.smt-history-list:before {
  border-left-color: #6fb586;
}
.smt-history-item:before {
  border-color: #6fb586;
}
.smt-price {
  color: #6fb586;
}
.smt-logo a strong,
.smt-logo a b {
  color: #6fb586;
}
.smt-logo > span strong,
.smt-logo > span b {
  color: #6fb586;
}
.smt-logo .fa,
.smt-logo .glyphicon {
  color: #6fb586;
}
.smt-image-box-inline-label {
  background-color: #6fb586;
}
.bx-filter .bx-filter-popup-result.right,
.bx-filter .bx-filter-popup-result.left {
  background-color: #6fb586;
}
.bx-filter .bx-filter-popup-result.right:before {
  border-right-color: #6fb586;
}
.bx-filter .bx-filter-popup-result.left:before {
  border-left-color: #6fb586;
}
@media (min-width: 992px) {
  .smt-menu-main a,
  .smt-menu-main a:hover,
  .smt-menu-main a:focus,
  .smt-menu-main a:active,
  .smt-menu-main a.highlighted {
    color: #323232;
  }
}
.smt-contact a.smt-btn,
.smt-contact a.smt-btn:hover,
.smt-contact a.smt-btn:focus {
  color: #000000;
}
.bx-filter .bx-filter-parameters-box-title span {
  color: #6fb586;
}
.bx-filter .bx-filter-parameters-box-title span:hover {
  border-color: #6fb586;
}
.smt-background-primary {
  background-color: #6fb586;
}
